---
import { getCollection } from 'astro:content';
import BlogSummaryCard from '../../components/BlogSummaryCard.astro';
import BaseNavigation from "../../components/layout/BaseNavigation.astro";
import BaseFooter from "../../components/layout/BaseFooter.astro";

// Fetch the blog collection asynchronously
const posts = await getCollection('blog');

// If no posts exist, provide a fallback value
const hasPosts = posts && posts.length > 0;
---

<BaseNavigation/>
<ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
    {hasPosts ? (
        posts.map((post) => (
                <li key={post.slug}>
                    <BlogSummaryCard post={post} />
                </li>
        ))
    ) : (
            <p>No posts available. Please check back later!</p>
    )}
</ul>
<BaseFooter/>
