---
import '@fontsource/new-amsterdam';

interface Props {
    pageTitle?: string;

}

const navigationItems = [
    { name: 'Home', url: '/' },
    { name: 'Blog', url: '/blog/' },
    { name: 'About', url: '/about/'}
];

const { pageTitle } = Astro.props;
---

<header class="custom-lavender-texture-bg py-6 rubik-variable">
    <nav class="nav-links">
        <ul class="flex gap-10 text-xl font-large">
            <li>
                <a
                        class="hover:text-green hover:underline transition-all duration-150 ease-in-out"
                        href="/"
                        title="Go to Home"
                >
                    Home
                </a>
            </li>
            <li>
                <a
                        class="hover:text-green hover:underline transition-all duration-150 ease-in-out"
                        href="/blog/"
                        title="Go to Blog"
                >
                    Blog
                </a>
            </li>
            <li>
                <a
                        class="hover:text-green hover:underline transition-all duration-150 ease-in-out"
                        href="/about/"
                        title="Go to About"
                >
                    About
                </a>
            </li>
        </ul>
    </nav>
</header>

<style>
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 4rem;
    }
    li a {
        text-decoration: none;
        color: black;
        transition: color 0.3s ease-in-out;
    }
    li a:hover {
        color: #A379C9;
    }
</style>
