---
// src/components/Header.astro
import NavButtons from './NavButtons.astro';

interface Props {
    activeUrl: string;
    isLoggedIn: boolean;
    pageTitle?: string;
}

const { activeUrl, isLoggedIn, pageTitle } = Astro.props;
---

<header class="bg-[#0077b6] rubik-variable border-dashed border-b-2 font-bold border-black flex justify-between items-center px-6 py-4">
    <h1 class="text-white text-2xl">{pageTitle}</h1>
    <NavButtons activeUrl={activeUrl} isLoggedIn={isLoggedIn} />
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
