---
const { title, description, pageTitle } = Astro.props;
---

<head>
    <meta charset='utf-8' />
    <link rel="stylesheet" href="style.css" />
    <link rel='icon' type='image/svg' href='./favicon.svg' />
    <link
            rel="preload"
            href="/fonts/new-amsterdam-regular.ttf"
            as="font"
            type="font/ttf"
            crossorigin
    />

    <title>macc blogs</title>

    <slot />
</head>