---
import { getCollection } from "astro:content";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import BlogList from "../components/BlogList.astro";



import { getEntry, render } from 'astro:content';

const { activeUrl , isLoggedIn } = Astro.props;
const allPosts = await getCollection("blog");
---


<DefaultLayout
        title='Blog'
        pageTitle='Brutal Blog'
        activeUrl={activeUrl}
        isLoggedIn={isLoggedIn}
>
    <main class='bg-green p-6'>
        <p>This is where I will post about my journey learning Astro.</p>
        <ul>
            {allPosts.map((post) =>
                    <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />)}

        </ul>
    </main>
</DefaultLayout>

