---
import { getCollection } from 'astro:content';
import BlogList from "../components/BlogList.astro";
import TestCard from "../components/TestCard.astro";
const { title, description, content } = Astro.props;
// Fetch the blog collection asynchronously
const posts = await getCollection('blog');

---

<TestCard content="" ,title="">
    <main>
        <BlogList posts={posts} />
    </main>
</TestCard>

