---
import { getCollection } from "astro:content";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import BlogList from "../components/BlogList.astro";

const pageTitle = "My Astro Learning Blog";
const posts = await getCollection("blog");
---

<DefaultLayout
        pageTitle={pageTitle}
        title="blog posts"
        description=""

>
    <main class="border-solid text-lg p-6">
        <BlogList posts={posts} />

    </main>

</DefaultLayout>