---
import { getCollection } from "astro:content";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import BlogList from "../components/BlogList.astro";
import { Image } from "astro:assets";




import { getEntry, render } from 'astro:content';

const { activeUrl , isLoggedIn, pageTitle } = Astro.props;
const posts = await getCollection('blog').then((collection) =>
    collection.reverse()
);
---


<DefaultLayout
        title='Blogs Page'
        pageTitle="Blogs"
 activeUrl="" isLoggedIn>
    <main class='bg-green p-6'>
        <p>This is where I will post about my journey learning Astro.</p>
        <BlogList posts={posts} />
    </main>
</DefaultLayout>

