---
import { getCollection } from "astro:content";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import RecentBlogPosts from "../components/generic/RecentBlogPosts.astro";
import carolinaImage from '../../public/assets/carolina-in-the-morning.jpg';
---

<DefaultLayout
        title='Home'
        pageTitle="Welcome to My Blog"
        description="Tracking my adventures in software engineering and more."
>
    <main class="mt-4 new-amsterdam-regular custom-lavender-texture-bg px-6">
        <!-- Hero Section -->
        <section id='hero' class='border-solid border-2 flex flex-col md:flex-row items-center justify-between gap-6 mt-6 p-6 bg-white shadow-md rounded-lg'>
            <div class='flex-1'>
                <h1 class='text-4xl md:text-6xl outfit font-bold mb-4'>Welcome to My Blog</h1>
                <p class='text-lg md:text-xl mb-6'>
                    Follow along as I share my experiences in software engineering and explore my hobbies. Dive into stories, lessons, and adventures!
                </p>
                <Button target={'_self'} href='/about/'>
                    Learn More About Me &rarr;
                </Button>
            </div>
        </section>

        <!-- About Section -->
        <section id='about' class='grid md:grid-cols-8 gap-6 mt-12'>
            <div class='col-span-4'>
                <Card>
                    <h2 class='text-2xl md:text-4xl outfit font-bold mb-4'>About the Blog</h2>
                    <p class='text-lg'>
                        This blog is a space where I document my journey through software engineering and beyond. Whether it's new technologies, problem-solving adventures, or personal projects, you'll find it here.
                    </p>
                </Card>
            </div>
            <div class='col-span-4'>
                <Card>
                    <h2 class='text-2xl md:text-4xl outfit font-bold mb-4'>Why Follow Along?</h2>
                    <p class='text-lg'>
                        Join me in discovering how to navigate challenges, embrace learning opportunities, and celebrate small wins. Let’s grow and explore together.
                    </p>
                </Card>
            </div>
        </section>

        <!-- Recent Blog Posts Section -->
        <div class="col-span-8 items-center">
            <Card>
                <RecentBlogPosts/>
            </Card>
        </div>


    </main>
</DefaultLayout>
