---
import DefaultLayout from "../layouts/DefaultLayout.astro";
const { title, url } = Astro.props
---
<DefaultLayout
        description="" title="" pageTitle="">
    <main class='p-2 lg:grid lg:grid-cols-3 flex justify-center'>
        <slot />
    </main>
</DefaultLayout>
