---
import type { CollectionEntry } from 'astro:content';
interface Props {
    posts: CollectionEntry<'blog'>[];
    color: keyof typeof colors;  // This ensures `color` is a key from the `colors` object

}


import colors from '../config/colors.json';
import TestCard from "./TestCard.astro";
const { posts , color } = Astro.props;
---

<ul class=''>
    {
        posts.map((post) => {
            return (
                    <li>
                        <TestCard post={post}/> {/* Access the color by key */}
                    </li>
            );
        })
    }
</ul>