---
export interface Props {
    color?: string | undefined;
}

import colors from '../config/colors.json';


if (Astro.props.color === undefined) {
    Astro.props.color =
        colors[Math.floor(Math.random() * colors.length)];
}


const { color } = Astro.props
---

<style define:vars={{ color: color }}>
    div.card {
        background-color: var(--color);
        border-radius: 0.5rem;
        border: 3px solid black;
        filter: drop-shadow(7px 7px 0 rgb(0 0 0 / 1));
        padding: 1rem;
        transition: filter 0.5s ease-in-out, transform 0.3s ease-in-out;
    }

    div.card:hover {
        filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
        transform: translate(-2px, -2px);
    }

</style>

<div class='another-card'>
    <slot />
</div>