---
interface Props {
    color?: string;
}

import colors from '../config/colors.json';

const { color = colors[Math.floor(Math.random() * colors.length)] } = Astro.props;

---
<div class="card" style={{ backgroundColor: color }}>
    <a href="#">
        <article>
            <div class="content">
                <slot /> <!-- Slot for content -->
            </div>
        </article>
    </a>
</div>


<style>
    .card {
        width: 20rem; /* Equivalent to w-80 */
        height: 100%; /* Equivalent to h-full */
        border: 2px solid black; /* Equivalent to border-black border-2 */
        border-radius: 0.375rem; /* Equivalent to rounded-md */
        background-color: white; /* Equivalent to bg-white */
        transition: box-shadow 0.3s ease;
    }

    .card:hover {
        box-shadow: 8px 8px 0px rgba(0, 0, 0, 1); /* Hover shadow */
    }

    .card a {
        display: block;
        cursor: pointer;
    }

    .card figure {
        width: 100%; /* Equivalent to w-full */
        height: 50%; /* Equivalent to h-1/2 */
        border-bottom: 2px solid black; /* Equivalent to border-black border-b-2 */
    }

    .card img {
        width: 100%; /* Equivalent to w-full */
        height: 100%; /* Equivalent to h-full */
        object-fit: cover; /* Equivalent to object-cover */
    }

    .card .content {
        padding: 1.5rem; /* Equivalent to px-6 py-5 */
        text-align: left;
    }

    .card .date {
        font-size: 1rem; /* Equivalent to text-base */
        margin-bottom: 1rem; /* Equivalent to mb-4 */
    }

    .card .title {
        font-size: 2rem; /* Equivalent to text-[32px] */
        margin-bottom: 1rem; /* Equivalent to mb-4 */
    }

    .card .description {
        font-size: 0.75rem; /* Equivalent to text-xs */
        margin-bottom: 1rem; /* Equivalent to mb-4 */
        display: -webkit-box; /* Enable line clamp */
        -webkit-line-clamp: 4; /* Clamp to 4 lines */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>
