---
export interface Props {
    title: string;
    content: string;
    author: string;
    description: string;
}

const { title, content, author, description, } = Astro.props;
---

<h1>Test Card</h1>
<div class="test-card">
    <section>
        <div class="">
            <h2 class="text-lg font-bold">{title}</h2>
            <p class="blog-author">{author}</p>
            <p class="blog-description">{description}</p>
        </div>
    </section>
</div>
