---
import '../styles/global.css';
import 'virtual:uno.css';
import BaseHead from "../components/layout/BaseHead.astro";
import BaseFooter from "../components/layout/BaseFooter.astro";
import '@fontsource/new-amsterdam';
import BaseHeader from "../components/layout/BaseHeader.astro";

interface Props {
    title: string;
    pageTitle: string;
    activeUrl: string;
    isLoggedIn: boolean;
}

const { title, pageTitle, isLoggedIn, activeUrl} = Astro.props;
---

<html lang='en' class='h-full w-full'>
<BaseHead title={title} />
<BaseHeader pageTitle={pageTitle} activeUrl={activeUrl} isLoggedIn={isLoggedIn}/>
<body class="flex flex-col h-full w-full dark:bg-zinc-900 bg-zinc-50 dark:text-zinc-100">
    <slot />
</body>
<BaseFooter />
</html>
