---
import { getCollection } from 'astro:content';
import Button from "../Button.astro";
import BlogList from "../BlogList.astro";
import Card from "../Card.astro";
import { Image } from "astro:assets";


interface Props {
    count?: number;
}
const { count } = Astro.props;
const posts = await getCollection('blog').then((posts) =>
    posts.reverse().slice(0, count ?? 3)
);
---

<section class='mt-8'>
    <Card color="white">
        <div class='flex justify-between items-start'>
            <div class='hidden md:block'>
                <Button href='/blogs/'>Go to blog &rarr;</Button>
            </div>
        </div>
        <BlogList posts={posts} />
    </Card>

</section>


<!-- was running out of memory because the const posts = await getCollection('blog') was recursing infinitely before i changed it-->