---
import { getCollection } from 'astro:content';
import Button from "../Button.astro";
import BlogList from "../BlogList.astro";
import Card from "../Card.astro";
import { Image } from "astro:assets";


interface Props {
    count?: number;
}
const { count } = Astro.props;
const posts = await getCollection('blog').then((posts) =>
    posts.reverse().slice(0, count ?? 3)
);
---

<section class='mt-8'>
    <Card color="white">
        <div class='hidden md:block flex justify-between items-center p-4'>
            <!--<h2 class="text-3xl font-bold mb-4">-->
            <!--    Explore My Blog-->
            <!--</h2>-->
            <!--<p class="text-lg text-gray-700 mb-6">-->
            <!--    Dive into my adventures in software engineering, problem-solving, and personal projects. Join the journey and gain insights from my experiences!-->
            <!--</p>-->
            <Button href="/blog/">
                Recent Blogposts
            </Button>
        </div>
    </Card>
    <slot/>

</section>


<!-- was running out of memory because the const posts = await getCollection('blog') was recursing infinitely before i changed it-->