---
import { getCollection } from 'astro:content';

import BlogSummaryCard from "../BlogSummaryCard.astro";
import Card from "../Card.astro";


interface Props {
    count?: number;
}
const { count } = Astro.props;

const posts = await getCollection('blog').then((posts) =>
    posts.reverse().slice(0, count ?? 3)
);
---

<section class="mt-8">
    <Card>
        <section class='mt-8'>
            <div>
                {posts.map(post => (
                        <article>
                            <h2>{post.data.title}</h2>
                            <p>{post.data.description}</p>
                        </article>
                ))}
            </div>
        </section>
    </Card>
</section>

<!-- was running out of memory because the onst posts = await getCollection('blog') was recursing infinitely before i changed it-->