---
import { Image } from 'astro:assets';
import Card from "../Card.astro";


interface Props {
    title: string;
    imgSrc: ImageMetadata;
    imgAlt: string;
    description: string;
}


const { title, imgSrc, imgAlt, description } = Astro.props;
---

<Card color='white'>
    <h3 class='rubik-serif ptext-lg md:text-xl'>{title}</h3>
    <div class='relative bg-white'>
        <Image
                src={imgSrc}
                alt={imgAlt}
                width={700}
                height={700}
                class='h-full w-full object-fill border-solid border-2 p-2 border-b-bluegray border-r-bluegray shadow-[5px_5px_0_rgb(0_0_0/1)]'

        />
    </div>
    <p>{description}</p>
    <slot />
</Card>